<launch>
    <arg name="odom" default="true"/>
    <arg name="alignment" default="frame_to_frame"/>
    <arg name="descriptor" default="position"/>
    <arg name="loss" default="point_to_point"/>
    <arg name="rviz" default="false"/>
    <arg name="metrics" default="false"/>

    <env name="ROSCONSOLE_FORMAT" value="[${severity} ${walltime} ${node}] ${message}"/>
    <env name="ROSCONSOLE_STDOUT_LINE_BUFFERED" value="1"/>

    <include file="$(dirname)/scan_to_cloud.launch" pass_all_args="true"/>
    <include file="$(dirname)/cloud_filter.launch" pass_all_args="true"/>
    <include file="$(dirname)/icp_slam.launch" pass_all_args="true"/>
    <include file="$(dirname)/occupancy_mapper.launch" pass_all_args="true"/>
    <include if="$(arg rviz)" file="$(dirname)/rviz.launch"/>
</launch>
