<launch>
    <arg name="scan" default="scan"/>
    <arg name="cloud" default="cloud"/>
    <arg name="odom" default="true"/>
    <arg name="fixed_frame" default="$(eval 'odom' if odom else '')"/>
    <node name="scan_to_point_cloud" pkg="nodelet" type="nodelet"
          args="standalone scan_to_point_cloud/scan_to_point_cloud"
          output="log">
        <rosparam subst_value="true">
            target_frame:     ''
            fixed_frame:      '$(arg fixed_frame)'
            tf_timeout:       1.0
<!--            channel_options:  0x3-->
            channel_options:  0x13
            scan_queue_size:  5
            cloud_queue_size: 5
        </rosparam>
        <remap from="scan" to="$(arg scan)"/>
        <remap from="cloud" to="$(arg cloud)"/>
    </node>
</launch>
