<launch>
    <arg name="odom" default="true" doc="Odometry must not be published if false."/>
    <arg name="odom_frame" default="$(eval 'odom' if odom else 'base_footprint')"/>
    <arg name="alignment" default="frame_to_frame"/>
    <arg name="descriptor" default="position"/>
    <arg name="loss" default="point_to_point"/>

    <!-- Convert odometry to transforms at /tf if needed. -->
    <node if="$(arg odom)" name="odom_to_tf" pkg="aro_slam" type="odom_to_tf" output="screen">
        <remap from="odom" to="odom"/>
        <remap from="/tf" to="/tf"/>
    </node>

    <node name="icp_slam" pkg="aro_slam" type="icp_slam"
          output="screen">
        <rosparam subst_value="true">
            <!-- alignment from {frame_to_frame, frame_to_map} -->
            alignment: $(arg alignment)
            odom_frame: $(arg odom_frame)
            map_frame: map
            max_age: 0.5
            timeout: 0.5
            always_publish_tf: true
            <!-- loss from {point_to_point, point_to_plane} -->
            loss: $(arg loss)
            <!-- descriptor from {position, position_and_normal} -->
            descriptor: $(arg descriptor)
            max_iters: 100

            inlier_ratio: 0.65
            inlier_dist_mult: 2.0
            max_inlier_dist: 0.5

            localized_inlier_ratio: 0.5
            localized_inlier_dist: 0.1
            mapping_inlier_ratio: 0.8
            mapping_min_dist: 0.1
        </rosparam>

        <remap from="cloud" to="cloud/smooth"/>

        <remap from="registered" to="registered"/>
        <remap from="inliers" to="inliers"/>
        <remap from="reference" to="reference"/>
    </node>
</launch>
