<launch>
    <arg name="cloud" default="cloud/grid"/>
    <arg name="occupancy" default="occupancy"/>
    <node name="occupancy_mapper" pkg="aro_slam" type="occupancy_mapper"
          output="log">
        <rosparam subst_value="true">
            sensor_frame: ''
            map_frame: map
            max_age: 0.5
            timeout: 0.5
            grid_res: 0.05
            empty_update: -1.0
            occupied_update: 1.0
            min_occupancy: -5.0
            max_occupancy: 20.0
            occupied_threshold: 5.0
        </rosparam>
        <remap from="cloud" to="$(arg cloud)"/>
        <remap from="occupancy" to="$(arg occupancy)"/>
    </node>
</launch>
